:root {
  --heading-font: "Poppins", sans-serif;
  --default-font: "Open Sans", sans-serif;
  --primary-color: wheat;
  --secondary-color: #231d1b;
  --accent-color: #871015;
}

body {
  background: var(--secondary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  margin: 10px 0 0;
  line-height: 1.5;
}

h4,
h5 {
  font-family: var(--heading-font);
  line-height: 1;
  margin: 0;
}

a,
p,
footer {
  font-family: var(--default-font);
}

h1 {
  font-size: 84px;
  font-weight: 700;
}

h2 {
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/background/crab-street.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 180px 0;
}

main {
  background: var(--primary-color);
}

main h2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
}

main h5 {
  font-size: 14px;
  font-weight: 700;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 50px;
}

section.secondary {
  background: rgba(0, 0, 0, 0.1);
}

footer {
  color: var(--primary-color);
  background-image: linear-gradient(
      rgba(35, 29, 27, 0.8),
      rgba(35, 29, 27, 0.9)
    ),
    url("../images/background/alley.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: wheat;
  opacity: 0.7;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.hero-button {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.5;
  background: var(--primary-color);
  color: black;
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.hero-button:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.grid {
  display: grid;
  grid-gap: 32px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-last-wide {
  grid-template-columns: 1fr 1fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.introduction-image {
  filter: brightness(90%);
}

.image-responsive {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  background: var(--primary-color);
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-image {
  width: 100%;
}

.card-embed {
  width: 100%;
  aspect-ratio: 8 / 10;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 10px 30px 0;
}

.btn {
  display: block;
  margin: 0 auto;
  background: var(--accent-color);
  color: var(--primary-color);
  padding: 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
}

.gallery {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  section {
    padding: 30px 25px;
  }

  .branding-button {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .card-header img {
    display: none;
  }

  .card-embed {
    aspect-ratio: 21 / 9;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery img {
    width: 90%;
    margin: 0 auto;
  }
}
