:root {
  --heading-font: "Poppins", sans-serif;
  --default-font: "Open Sans", sans-serif;
}

body {
  background: #231d1b;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  margin: 10px 0 0;
  line-height: 1.5;
}

a,
p,
footer {
  font-family: var(--default-font);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/crab-street.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 180px 0;
}

h1 {
  font-size: 84px;
  font-weight: 700;
}

h2 {
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4px;
}

footer {
  color: wheat;
  background-image: linear-gradient(
      rgba(35, 29, 27, 0.8),
      rgba(35, 29, 27, 0.9)
    ),
    url("../images/alley.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: wheat;
  opacity: 0.7;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.branding-button {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.5;
  background: wheat;
  color: black;
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.branding-button:hover {
  background: #871015;
  color: wheat;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 32px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  .branding-button {
    font-size: 12px;
  }
}
